#whole {
    width: 1000px;
    height: 700px;
    background-color: white;
    margin-left: 20%;
    border: 2px greenyellow solid;
    
}
#window1 {
    width: 800px;
    height: 200px;
    background-color: greenyellow;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
#window1logo {
    width: 300px;
    height: 100px;
    margin-left: 250px;
}


#window2 {
    width: 800px;
    height: 200px;
    background-color: red;
    margin-left: 100px;
}
#window2tool {
    border: solid greenyellow 5px;
    height: 190px;
}
#loginbox {
    border: 2px solid greenyellow;
    background-color: honeydew;
    width: 400px;
    height: 150px;
    margin-left: 200px;
    margin-top: 20px;
}

#window2tool h2 {
    margin-left: 170px;
    height: 5px;
    padding-bottom: 5px;
}
#window2form {
    margin-left: 90px;
}
#window2_id {
    padding-left: 2px;
}
#loginsubmit {
    margin-top: 15px;
    margin-left: 80px;
}
#joinbutton {
    margin-left: 180px;
    margin-top: 15px;
}
#loginbutton {
    margin-left: 50px;
}



#window3 {
    width: 800px;
    height: 100px;
    background-color: rosybrown;
    margin-left: 100px;
}