/* 전체윤곽 */
#whole {
    width: 970px;
    height: 897px;
    /* background-color: black; */
    margin-left: 20%;
}

#window1 {
    width: 220px;
    height: 780px;
    /* background-color: blue; */
    float: left;
}
#window2 {
    width: 730px;
    height: 780px;
    background-color: blueviolet;
    margin-left: 240px;
}
#window3 {
    width: 970px;
    height: 117px;
    background-color: chartreuse;
}




/* window1 상단 로고*/
#window1image {
    width: 230px;
    margin-top: 3%;
    margin-left: 5%;
}
#window1_image {
    width: 200px;
}




/* window1 로그인 박스 */
#window1login {
    border: 2px solid ghostwhite;
    background-color: gainsboro;
    border-radius: 5%;
    width:210px;
    height: 130px;
    margin-top: 6%;
    margin-left: 3px;
    margin-right: 2px;
}
#window1login h3 {
    font-weight: bold;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 13%;
}
#member {
    color: greenyellow;
    float: left;
    margin-left: 1%;
    margin-right: 4%;
}
#loginbutton {
    float: right;
    height: 54px;
    margin-right: 2%;
}
#window1login input {
    width:110px;
    margin-left: 5%;
}
#join {
    float: left;
    margin-top: 7%;
    margin-left: 5%;
}
#search {
    margin-top: 3%;
    margin-left: 5%;
}
#communityimage {
    width: 187px;
    height: 320px;
    margin-top: 3%;
    margin-left: 7%;
    position: relative;
    background-image: url("../img/sub_menu_bg.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
#communityimage div {
    margin-left: 5%;
    padding-top: 5%;
}
#comm {
    margin-top: 40%;
}
#communitybottom {
    border: 2px gray solid;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 190px;
    margin-left: 5%;
}
#communitybottom div {
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}


/*window2*/
#top_right {
    float: right;
    margin-right: 6%;
}
#top_menu {
    background-image: url("../img/main_menu_bg.png");
    background-repeat: no-repeat;
    width:700px
}
#top_menu div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}