.row1 {
    float: left;
    margin-left: 200px;
    width: 300px;
    height: 800px;
}
.row2 {
    margin-right: 200px;
    margin-left: 500px;
    width: 1100px;
    height: 800px;
    background-color: rgb(231, 16, 16);
}
.row3 {
    box-sizing: content-box;
    border-top: 10px solid black;
    height: 200px;
    width: 1600px;
    position: absolute;
    left: 10%;

}
#row3content {
    text-align: center;
    padding: 5px;
}
#logobox {
   margin-left: 60px;
   margin-top: 30px;
}
#loginbox {
    margin-top: 10px;
    margin-left: 5px;
    background-color:lavender;
    height: 150px;
    width: 280px;
    border: red none 1px;
    border-radius: 10%;
}
#id {
    margin-left: 10%;
    width: 50%;
   
}
#pw {
    margin-left: 10%;
    width: 50%;
}
#loginimage {
  float: right;
   margin-right: 30px;
   
}
#loginbox h3 {
    float: left;
    color: lightgreen;
}
#loginbox h4 {
    float: left;
    margin-left: 10px;
}
#join {
    margin-left: 15px;
    margin-top: 10px;
}
#ullist {
    margin-top: 10px;
    background-color: lavender;
    height: 170px;
    width: 280px;
    border : none;
    border-radius: 10%;
}
#ullist {
    margin-left: 5px;
}
#ullistimage {
    margin-left: 10px;
    margin-top: 10px;
}

