#whole {
    width: 1050px;
    height: 1000px;
    margin: auto;
}

#window1 {
    width: 300px;
    height: 850px;
    /* background-color: black; */
    float: left;
}
#window2 {
    width: 750px;
    height: 850px;
    background-color: blue;
    margin-left: 300px;
}
#window3 {
    width: 1050px;
    height: 150px;
    background-color: blueviolet;
}

#window1logo {
    width: 200px;
    height: 100px;
    margin: 20px 50px;
}
#window1comm {
    width: 200px;
    height: 400px;
    margin: 5px 50px;
    background-image: url("../img/sub_menu_bg.png");
    background-repeat: no-repeat;
    background-size: 200px;
    display: flex;
    flex-direction: column;
}
#window1comm div {
    margin-left: 20px;
    margin-top: 10px;
}
.commtext1 {
    padding-top: 85px;
}
#window1comm2 {
    width: 220px;
    height: 200px;
    margin: 0px 40px;
    border: 2px solid green;
    border-radius: 10%; 
}
#comm2image1 {
    margin: 5px 5px;
}
#window1comm2 img {
    margin-top: 13px;
    margin-left: 20px;
}

#window2top {
    padding-top: 15px;
    margin-left: 500px;
    margin-bottom: 10px;
}
.window2menu {
    background-image: url("../img/main_menu_bg.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding-top: 10px;
}
#window2content {
    width : 740px;
    height: 600px;
    margin: 0px 5px;
    border: greenyellow solid 2px;
    border-radius: 10%;
}
#window2loginbox {
    border: solid 5px blueviolet;
    border-radius: 10%;
    width:365px;
    height: 302px;
    margin: 150px 170px;
}