
.window1 {
    margin-left: 400px;
    float: left;
    width: 300px;
    height: 800px;
    background-color: royalblue;
}
.window2 {
    width: 600px;
    height: 500px;
    background-color: saddlebrown;
}
.window3 {
    width: 1000px;
    height: 300px;
    background-color: sandybrown;
}
#loginbox {
    border: grey solid 2px;
    border-radius: 5px;
    width: 280px;
    height: 150px;
    
}