.whole {
    width: 1365px;
    height: 861px;
    background-color: red;
    margin-left: 300px;
}
.window1 {
    float: left;
    width: 285px;
    height: 711px;
    background-color: royalblue;

}
.window2 {
    margin-left: 285px;
    width: 1080px;
    height: 711px;
    background-color: saddlebrown;
}
.window3 {
    width: 1365px;
    height: 150px;
    background-color: sandybrown;
}
#mainLogo {
    margin-left: 71px;
}
#loginbox {
    border: grey solid 2px;
    border-radius: 10px;
    width: 240px;
    height: 150px;
    margin-left: 25px;
    background-color: silver;
}
#loginbox h3 {
    margin-left: 15px;
    float: left;
    font-weight: bold;
    color: seagreen;
}
#loginbox h4 {
    float: left;
    margin-left: 10px;
    font-size: 20px;
}
#idBox {
    width: 50%;
    height: 10%;
    margin-left: 20px;
}
#passwordInput {
    width: 50%;
    height: 10%;
    margin-left: 20px;
}
#loginImage {
    float: right;
    margin-right: 5%;
}