.window1 {
    float: left;
    width: 285px;
    height: 711px;
    background-color: royalblue;
    margin-left: 300px;

}
.window2 {
    margin-left: 585px;
    width: 1080px;
    height: 711px;
    background-color: saddlebrown;
}
.window3 {
    width: 1365px;
    height: 150px;
    background-color: sandybrown;
    margin-left: 300px;
}
#mainLogo {
    margin-left: 71px;
}
#loginbox {
    border: grey solid 2px;
    border-radius: 10px;
    width: 240px;
    height: 150px;
    margin-left: 25px;
    background-color: cornsilk;
}
/* .text_box {
    display: inline-block;
} */
#loginbox h3 {
    float: left;
    margin-left: 5%;
    color: seagreen;
}
#loginbox h4 {
    float:left;
    margin-left: 3%;
}
#idBox {
    width: 50%;
    margin-left: 20px;
}
#passwordInput {
    width: 50%;
    margin-left: 20px;
}
#loginImage {
    float: right;
    margin-right: 5%;
}
#loginbox_join {
    margin-top: 5%;
    margin-left: 5%;
}