.window1 {
    float: left;
    width: 285px;
    height: 711px;
    /* background-color: royalblue; */
    margin-left: 400px;

}
.window2 {
    margin-left: 640px;
    width: 850px;
    height: 711px;
    background-color: saddlebrown;
}
.window3 {
    width: 1002px;
    height: 150px;
    background-color: sandybrown;
    margin-left: 400px;
}
#mainLogo {
    margin-left: 20%;
    margin-bottom: 3%;

}
#loginbox {
    border: grey solid 2px;
    border-radius: 10px;
    width: 200px;
    height: 125px;
    margin-left: 25px;
    background-color: cornsilk;
}
.text_box {
    height: 45px;
    display: flex;
} 
#loginbox h3 {
    float: left;
    margin-left: 5%;
    color: seagreen;
}
#loginbox h4 {
    margin-left: 3%;
}
#idBox {
    width: 50%;
    margin-left: 20px;
}
#passwordInput {
    width: 50%;
    margin-left: 20px;
}
#loginImage {
    float: right;
    margin-right: 3%;
}
#loginbox_join {
    margin-top: 5%;
    margin-left: 7%;
}
#loginbox_search {
    margin-top: 5%;
    margin-left: 2%;
} 
#community {
    margin-top: 10%;
    margin-left: 8%;
    position: relative;
    
}
.community_text_box {
    margin-top: 4%;
    margin-left: 4%;
    margin-bottom: none;
    width: 240px;
    height: 310px;
    background-image: url("../img/sub_menu_bg.png"); background-repeat: no-repeat;
    background-size: 180px;
    display: flex;
    flex-direction: column;
}
#community_text1 {
    padding-left: 6%;
    margin-bottom: 1px;
    margin-top: 30%;
    font-size: 15px;
}
#community_text2 {
    padding-left: 6%;
    margin-bottom: 1px;
    font-size: 15px;
} 
#community_text3 {
    padding-left: 6%;
    margin-bottom: 1px;
    font-size: 15px;
} 
#community_text4 {
    padding-left: 6%;
    margin-bottom: 1px;
    font-size: 15px;
} 
#community_text5 {
    padding-left: 6%;
    font-size: 15px;
}
#else_content {
    border: 1px solid gray;
    border-radius: 10%;
    margin-left: 1%;
    margin-top: 2%;
    width: 190px;
}  
#else_content1 {
 margin-left: 3%;
 margin-top: 4%;  
}
#else_content2 {
 margin-left: 3%;    
}
#else_content3 {
 margin-left: 3%;
 margin-bottom: 3%;    
}
#top_right_menu {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
#top_right_menu div {
    margin-left: 5px;
    margin-right: 5px;
}
#top_right_NOTICE {
    padding-right: 5%;
}
#main_menu_bar img {
    
}
