.window1 {
    float: left;
    width: 285px;
    height: 711px;
    background-color: royalblue;
    margin-left: 300px;

}
.window2 {
    margin-left: 585px;
    width: 1080px;
    height: 711px;
    background-color: saddlebrown;
}
.window3 {
    width: 1365px;
    height: 150px;
    background-color: sandybrown;
    margin-left: 300px;
}
#mainLogo {
    margin-left: 71px;
}
#loginbox {
    border: grey solid 2px;
    border-radius: 10px;
    width: 240px;
    height: 120px;
    margin-left: 25px;
    background-color: cornsilk;
}
.text_box {
    height: 45px;
    display: flex;
} 
#loginbox h3 {
    float: left;
    margin-left: 5%;
    color: seagreen;
}
#loginbox h4 {
    margin-left: 3%;
}
#idBox {
    width: 50%;
    margin-left: 20px;
}
#passwordInput {
    width: 50%;
    margin-left: 20px;
}
#loginImage {
    float: right;
    margin-right: 7%;
}
#loginbox_join {
    margin-top: 5%;
    margin-left: 7%;
}
#loginbox_search {
    margin-top: 5%;
    margin-left: 2%;
} 
#community {
    margin-top: 10%;
    margin-left: 8%;
    position: relative;
    
}
.community_text_box {
    margin-top: 10%;
    margin-left: 9%;
    width: 240px;
    height: 350px;
    background-image: url("../img/sub_menu_bg.png"); background-repeat: no-repeat;
    background-size: 190px;
    display: flex;
    flex-direction: column;
}
#community_text1 {
    padding-left: 10%;
    margin-bottom: 1px;
    margin-top: 40%;
}
#community_text2 {
    padding-left: 10%;
    margin-bottom: 1px;
} 
#community_text3 {
    padding-left: 10%;
    margin-bottom: 1px;
} 
#community_text4 {
    padding-left: 10%;
    margin-bottom: 1px;
} 
#community_text5 {
    padding-left: 10%;
}  