.row1 {
    float: left;
    margin-left: 400px;
    width: 300px;
    height: 800px;
}
.row2 {
    margin-right: 200px;
    margin-left: 700px;
    width: 750px;
    height: 800px;
    background-color: rgb(231, 16, 16);
    position: relative;
}
.row3 {
    box-sizing: content-box;
    border-top: 10px solid black;
    height: 200px;
    width: 1600px;
    position: absolute;
    left: 10%;
}
#row3content {
    text-align: center;
    padding: 5px;
}

/*기본 틀*/

#logobox {
   margin-left: 60px;
   margin-top: 30px;
}
#loginbox {
    margin-top: 10px;
    margin-left: 5px;
    background-color:lavender;
    height: 150px;
    width: 280px;
    border: red none 1px;
    border-radius: 10%;
}
#id {
    margin-left: 10%;
    width: 50%;
   
}
#pw {
    margin-left: 10%;
    width: 50%;
}
#loginimage {
  float: right;
   margin-right: 30px;
   
}
#loginbox h3 {
    float: left;
    color: lightgreen;
    margin-left: 5%;
}
#loginbox h4 {
    float: left;
    margin-left: 10px;
}
#join {
    margin-left: 15px;
    margin-top: 10px;
}
#ullist {
    margin-top: 10px;
    background-color: lavender;
    height: 170px;
    width: 280px;
    border : none;
    border-radius: 10%;
}
#ullist {
    margin-left: 5px;
}
#ullistimage {
    margin-left: 10px;
    margin-top: 10px;
}
#topmenu {
    width: 100%;
    text-align: right;
}

#menubarimg{
    position: relative;
    display: flex;
}
#imgtext1{
    margin-top: 5px;
    margin-left: 30px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext2{
    writing-mode: horizontal-tb;
    margin-top: 5px;
    margin-left: 200px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext3{
    writing-mode: horizontal-tb;
    margin-top: 5px;
    margin-left: 350px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext4{
    writing-mode: horizontal-tb;
    margin-top: 5px;
    margin-left: 480px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#imgtext5{
    writing-mode: horizontal-tb;
    margin-top: 5px;
    margin-left: 630px;
    position: absolute;
    top: 30px;
    color: white;
    font: bold;
}
#mainimg {
    margin-top: 10px;
}
#notice {
    width: 400px;
    height: 125px;
}
#notice_title1 {
    margin-left: 2px;
}
#notice_more {
    margin-left: 290px;
}
#notice_book {
    margin-left: 30px;
    position: relative;
}
#noticetxt1 {
    position: absolute;
    margin-left: 20px;
    font-size: 12px;
    font : bold;
}
#noticetxt2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
    font : bold;
}
#noticetxt3 {
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 12px;
    font : bold;
}
#noticetxt4 {
    position: absolute;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 12px;
    font : bold;
}
#noticedate1 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: px;
    margin-left: 180px;
}
#noticedate2 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 20px;
    margin-left: 180px;
}
#noticedate3 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 40px;
    margin-left: 180px;
}
#noticedate4 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 60px;
    margin-left: 180px;
}
#free {
    width: 400px;
    height: 125px;
}
#free_title1 {
    margin-left: 2px;
}
#free_more {
    margin-left: 275px;
}
#free_book {
    margin-left: 30px;
    position: relative;
}
#free_text1 {
    position: absolute;
    margin-left: 20px;
    font-size: 12px;
    font : bold;
}
#free_text2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
    font : bold;
}
#free_text3 {
    position: absolute;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 12px;
    font : bold;
}
#free_text4 {
    position: absolute;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 12px;
    font : bold;
}
#freedate1 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: px;
    margin-left: 180px;
}
#freedate2 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 20px;
    margin-left: 180px;
}
#freedate3 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 40px;
    margin-left: 180px;
}
#freedate4 {
    position: absolute;
    font-size: 12px;
    font: bold;
    margin-top: 60px;
    margin-left: 180px;
}
#youtube {
    width: 400px;
    height: 250px;
    margin-left: 400px;
    margin-bottom: 500px;
    position: absolute;
}
#youtubetitle {
    margin-left: 2px;
    margin-bottom : 500px;
}