#whole {
    width: 1200px;
    height: 900px;
    margin-left: 20%;
    background-color: black;
}
#window1 {
    width: 300px;
    height: 750px;
    background-color: blue;
    float: left;
}
#window2 {
    width: 875px;
    height: 750px;
    margin-left: 320px;
    background-color: blueviolet;
}
#window3 {
    width: 1200px;
    height: 150px;
    background-color: chartreuse;
}


#window1logo {
    width: 180px;
    height: 100px;
    margin-left: 60px;
    margin-top: 10px;
}

#loginbox {
    border: 1px solid steelblue;
    border-radius: 10%;
    width: 220px;
    height: 132px;
    margin-left: 14%;
}
#loginboxmember {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    color: greenyellow;
    }
#loginboxlogin {
    margin-left: 110px;
    margin-top: 5px;
}
#id {
    margin-left: 20px;
    width: 100px;
}
#password {
    margin-left: 20px;
    width: 100px;
}
#loginbutton {
    float: right;
    margin-right: 5%;
    width: 70px;
    height: 50px;
}
#join {
    margin-top: 11px;
    margin-left: 7%;
    margin-bottom: 7px;
    float: left;
}
#search {
    margin-top: 9px;
    margin-left: 10px;
}

#commu {
    background-image: url("..//img/sub_menu_bg.png");
    background-repeat: no-repeat;
    width: 210px;
    height: 400px;
    margin-left: 60px;
}
#commu div {
    margin-left: 15px;
    margin-top: 10px;
}
#commu_text1 {
    padding-top: 80px;
}

#window1_bottom {
    border: 1px solid steelblue;
    border-radius: 10%;
    width: 200px;
    height: 160px;
}