#whole {
    width: 1200px;
    height: 910px;
    margin-left: 20%;
    /* background-color: black; */
}
#window1 {
    width: 300px;
    height: 760px;
    /* background-color: blue; */
    float: left;
}
#window2 {
    width: 750px;
    height: 760px;
    margin-left: 300px;
    margin-bottom: ;
    background-color: blueviolet;
}
#window3 {
    width: 1200px;
    height: 150px;
    background-color: chartreuse;
}

/* window1 */
#window1logo {
    width: 180px;
    height: 100px;
    margin-left: 60px;
    margin-top: 10px;
}

#loginbox {
    border: 1px solid steelblue;
    border-radius: 10%;
    width: 220px;
    height: 132px;
    margin-left: 14%;
    background-color: darkgray;
}
#loginboxmember {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    color: greenyellow;
    }
#loginboxlogin {
    margin-left: 110px;
    margin-top: 5px;
}
#id {
    margin-left: 20px;
    width: 100px;
}
#password {
    margin-left: 20px;
    width: 100px;
}
#loginbutton {
    float: right;
    margin-right: 5%;
    width: 70px;
    height: 50px;
}
#join {
    margin-top: 11px;
    margin-left: 7%;
    margin-bottom: 7px;
    float: left;
}
#search {
    margin-top: 9px;
    margin-left: 10px;
}

#commu {
    background-image: url("..//img/sub_menu_bg.png");
    background-repeat: no-repeat;
    width: 210px;
    height: 325px;
    margin-left: 60px;
}
#commu div {
    margin-left: 15px;
    margin-top: 10px;
}
#commu_text1 {
    padding-top: 80px;
}

#window1_bottom {
    border: 1px solid steelblue;
    border-radius: 10%;
    width: 200px;
    height: 170px;
    margin-left: 18%;
}
#window1_bottom img {
    margin-left: 6%;
    margin-top: 2%;
}
/* window1 */


/* window2 */

#window2_rightstart {
    float: right;
    margin-right: 30px;
    padding-top: 10px;
}
#window2_mainmenu {
    width: 780px;
    height: 50px;
    padding-top: 8px;
    background-image: url("../img/main_menu_bg.png");
    background-repeat: no-repeat;
    display: flex;
    margin-top: 5px;
}
#window2_mainmenu div {
    color: white;
}
#window2text1 {
    margin-left: 45px;
}
#window2text2 {
    margin-left: 80px;
}
#window2text3 {
    margin-left: 75px;
}
#window2text4 {
    margin-left: 60px;
}
#window2text5 {
    margin-left: 70px;
}

#community {
    width: 750px;
    height: 230px;
}

#free h3 {
    margin-top: 20px;
    margin-left: 10px;
    height: 15px;
}
#freewhole {
    display: flex;
    justify-content: space-between;
    height: 20px;
}
#freetext1 {
    margin-left: 5px;
}
#select {
    display: flex;
    justify-content: space-evenly;
}
#selectimage {
    width: 70px;
    height: 20px;
    margin-right: 5px;
}
#form {
    display: flex;
    width: 60px;
    height: 20px;
    margin-right: 10px;
}
#selectinput {
    display: flex;
    margin-right: 10px;
    width: 100px;
}
#searchimage {
    display: flex;
    margin-right: 10px;
    width: 50px;
    height: 23px;
}

#freetitle {
    display: flex;
    background-color: gainsboro;
    border: gray solid 2px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 10px;
}
#freetitle div {
    font-weight: bold;
}
#freetitle1 {
    margin-left: 15px;
}
#freetitle2 {
    margin-left: 260px;
}
#freetitle3 {
    margin-left: 170px;
}
#freetitle4 {
    margin-left: 50px;
}
#freetitle5 {
    margin-left: 50px;
}

#freetitlecontent1 {
    display: flex;
}
#freetitlecontent2 {
    display: flex;
}
#freetitlecontent3 {
    display: flex;
}